html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

@font-face {
	font-family: cool_font;
	src: url('This.ttf');
}

.logo{
    font-family: "cool_font";
   
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
		max-width:100%; 
	max-height:100%;
}
img
{ 
	max-width:100%; 
	max-height:100%;
}

.ui-icon-android{
	background: 						#666 /*{global-icon-color}*/;
	background: 						rgba(0,0,0,.4) /*{global-icon-disc}*/;
	background-image: url(images/andriod_icon.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}

.jqm-version {
	background: #f7cf57;
	border: solid #fff;
	border-width: 2px 0;
	color: #000;
	display: block;
	font-weight: bold;
	position: absolute;
	padding: .25em 3em;
	right: -2.5em;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	top: .75em;
	width: 78px;
	z-index: 9;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.40);
	box-shadow: 0 0 6px rgba(0,0,0,.40);
}
.jqm-version b {
	color: #a21412;
}
.ui-bar-a
{
	background: #e1d419;
	background-image: linear-gradient( #e1d419,#e1d419 );
	background-image: -moz-linear-gradient( #e1d419,#e1d419 );
	background-image: -ms-linear-gradient( #e1d419,#e1d419 );
	background-image: -o-linear-gradient( #e1d419,#e1d419 );
	background-image: -webkit-gradient(linear,left top,left bottom,from( #e1d419 ),to( #e1d419 ));
	background-image: -webkit-linear-gradient( #e1d419,#e1d419 );
	border: 1px solid #B3B3B3;
	color: #000000;
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
}
.ui-bar-a .ui-link-inherit
{
	color: #000000;
}
.ui-bar-a a.ui-link
{
	color: #7cc4e7;
	font-weight: bold;
}
.ui-bar-a a.ui-link:visited
{
	color: #2489CE;
}
.ui-bar-a a.ui-link:hover
{
	color: #2489CE;
}
.ui-bar-a a.ui-link:active
{
	color: #2489CE;
}
.ui-bar-a,.ui-bar-a input,.ui-bar-a select,.ui-bar-a textarea,.ui-bar-a button
{
	font-family: Helvetica,Arial,sans-serif;
}
.ui-body-a,.ui-overlay-a
{
	background: #f9f9f9;
	background-image: linear-gradient( #f9f9f9,#eeeeee );
	background-image: -moz-linear-gradient( #f9f9f9,#eeeeee );
	background-image: -ms-linear-gradient( #f9f9f9,#eeeeee );
	background-image: -o-linear-gradient( #f9f9f9,#eeeeee );
	background-image: -webkit-gradient(linear,left top,left bottom,from( #f9f9f9 ),to( #eeeeee ));
	background-image: -webkit-linear-gradient( #f9f9f9,#eeeeee );
	border: 1px solid #aaa;
	color: #333333;
	text-shadow: 0 1px 0 #fff;
}
.ui-overlay-a
{
	background-image: none;
	border-width: 0;
}
.ui-body-a,.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a button
{
	font-family: Helvetica,Arial,sans-serif;
}
.ui-body-a .ui-link-inherit
{
	color: #333333;
}
.ui-body-a .ui-link
{
	color: #2489CE;
	font-weight: bold;
}
.ui-body-a .ui-link:visited
{
	color: #2489CE;
}
.ui-body-a .ui-link:hover
{
	color: #2489CE;
}
.ui-body-a .ui-link:active
{
	color: #2489CE;
}
.ui-btn-up-a
{
	background: #eee;
	background-image: linear-gradient( #ffffff,#f1f1f1 );
	background-image: -moz-linear-gradient( #ffffff,#f1f1f1 );
	background-image: -ms-linear-gradient( #ffffff,#f1f1f1 );
	background-image: -o-linear-gradient( #ffffff,#f1f1f1 );
	background-image: -webkit-gradient(linear,left top,left bottom,from( #ffffff ),to( #f1f1f1 ));
	background-image: -webkit-linear-gradient( #ffffff,#f1f1f1 );
	border: 1px solid #ccc;
	color: #2F3E46;
	font-weight: bold;
	text-shadow: 0 1px 0 #ffffff;
}
.ui-btn-up-a:visited,.ui-btn-up-a a.ui-link-inherit
{
	color: #2F3E46;
}
.ui-btn-hover-a
{
	background: #dfdfdf;
	background-image: linear-gradient( #f6f6f6,#e0e0e0 );
	background-image: -moz-linear-gradient( #f6f6f6,#e0e0e0 );
	background-image: -ms-linear-gradient( #f6f6f6,#e0e0e0 );
	background-image: -o-linear-gradient( #f6f6f6,#e0e0e0 );
	background-image: -webkit-gradient(linear,left top,left bottom,from( #f6f6f6 ),to( #e0e0e0 ));
	background-image: -webkit-linear-gradient( #f6f6f6,#e0e0e0 );
	border: 1px solid #bbb;
	color: #2F3E46;
	font-weight: bold;
	text-shadow: 0 1px 0 #ffffff;
}
.ui-btn-hover-a:visited,.ui-btn-hover-a:hover,.ui-btn-hover-a a.ui-link-inherit
{
	color: #2F3E46;
}
.ui-btn-down-a
{
	background: #d6d6d6;
	background-image: linear-gradient( #d0d0d0,#dfdfdf );
	background-image: -moz-linear-gradient( #d0d0d0,#dfdfdf );
	background-image: -ms-linear-gradient( #d0d0d0,#dfdfdf );
	background-image: -o-linear-gradient( #d0d0d0,#dfdfdf );
	background-image: -webkit-gradient(linear,left top,left bottom,from( #d0d0d0 ),to( #dfdfdf ));
	background-image: -webkit-linear-gradient( #d0d0d0,#dfdfdf );
	border: 1px solid #bbb;
	color: #2F3E46;
	font-weight: bold;
	text-shadow: 0 1px 0 #ffffff;
}
.ui-btn-down-a:visited,.ui-btn-down-a:hover,.ui-btn-down-a a.ui-link-inherit
{
	color: #2F3E46;
}
.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a
{
	font-family: Helvetica,Arial,sans-serif;
	text-decoration: none;
}
a.ui-link-inherit
{
	text-decoration: none !important;
}
.ui-btn-active
{
	background: #fa9300;
	background-image: linear-gradient( #fa9300,#fa9300 );
	background-image: -moz-linear-gradient( #fa9300,#fa9300 );
	background-image: -ms-linear-gradient( #fa9300,#fa9300 );
	background-image: -o-linear-gradient( #fa9300,#fa9300 );
	background-image: -webkit-gradient(linear,left top,left bottom,from( #fa9300 ),to( #fa9300 ));
	background-image: -webkit-linear-gradient( #fa9300,#fa9300 );
	border: 1px solid #fffb0a;
	color: #fff;
	cursor: pointer;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 1px #3373a5;
}
.ui-btn-active:visited,.ui-btn-active:hover,.ui-btn-active a.ui-link-inherit
{
	color: #fff;
}
.ui-btn-inner
{padding:0 0 0 0;
	border-color: rgba(255,255,255,.3);
	border-top: 1px solid #fff;
}
.ui-corner-tl
{
	border-top-left-radius: .6em;
	moz-border-radius-topleft: .6em;
	webkit-border-top-left-radius: .6em;
}
.ui-corner-tr
{
	border-top-right-radius: .6em;
	moz-border-radius-topright: .6em;
	webkit-border-top-right-radius: .6em;
}
.ui-corner-bl
{
	border-bottom-left-radius: .6em;
	moz-border-radius-bottomleft: .6em;
	webkit-border-bottom-left-radius: .6em;
}
.ui-corner-br
{
	border-bottom-right-radius: .6em;
	moz-border-radius-bottomright: .6em;
	webkit-border-bottom-right-radius: .6em;
}
.ui-corner-top
{
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;
	moz-border-radius-topleft: .6em;
	moz-border-radius-topright: .6em;
	webkit-border-top-left-radius: .6em;
	webkit-border-top-right-radius: .6em;
}
.ui-corner-bottom
{
	border-bottom-left-radius: .6em;
	border-bottom-right-radius: .6em;
	moz-border-radius-bottomleft: .6em;
	moz-border-radius-bottomright: .6em;
	webkit-border-bottom-left-radius: .6em;
	webkit-border-bottom-right-radius: .6em;
}
.ui-corner-right
{
	border-bottom-right-radius: .6em;
	border-top-right-radius: .6em;
	moz-border-radius-bottomright: .6em;
	moz-border-radius-topright: .6em;
	webkit-border-bottom-right-radius: .6em;
	webkit-border-top-right-radius: .6em;
}
.ui-corner-left
{
	border-bottom-left-radius: .6em;
	border-top-left-radius: .6em;
	moz-border-radius-bottomleft: .6em;
	moz-border-radius-topleft: .6em;
	webkit-border-bottom-left-radius: .6em;
	webkit-border-top-left-radius: .6em;
}
.ui-corner-all
{
	border-radius: .6em;
	moz-border-radius: .6em;
	webkit-border-radius: .6em;
}
.ui-corner-none
{
	border-radius: 0;
	moz-border-radius: 0;
	webkit-border-radius: 0;
}
.ui-br
{
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.ui-disabled
{
	opacity: .3;
}
.ui-disabled,.ui-disabled a
{
	cursor: default !important;
	pointer-events: none;
}
.ui-disabled .ui-btn-text
{
	filter: alpha(opacity=30);
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
	zoom: 1;
}
.ui-icon,.ui-icon-searchfield:after
{
	background: #666;
	background: transparent;
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
	border-radius: 9px;
	moz-border-radius: 9px;
	webkit-border-radius: 9px;
}
.ui-icon-alt
{
	background: #fff;
	background: rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (min-resolution:240dpi)
{
	.ui-icon-plus,.ui-icon-minus,.ui-icon-delete,.ui-icon-arrow-r,.ui-icon-arrow-l,.ui-icon-arrow-u,.ui-icon-arrow-d,.ui-icon-check,.ui-icon-gear,.ui-icon-refresh,.ui-icon-forward,.ui-icon-back,.ui-icon-grid,.ui-icon-star,.ui-icon-alert,.ui-icon-info,.ui-icon-home,.ui-icon-search,.ui-icon-searchfield:after,.ui-icon-checkbox-off,.ui-icon-checkbox-on,.ui-icon-radio-off,.ui-icon-radio-on
	{
		background-image: url(images/icons-36-white.png);
		background-size: 776px 18px;
		moz-background-size: 776px 18px;
		o-background-size: 776px 18px;
		webkit-background-size: 776px 18px;
	}
	.ui-icon-alt
	{
		background-image: url(images/icons-36-black.png);
	}
}
.ui-icon-plus
{
	background-position: -0 50%;
}
.ui-icon-minus
{
	background-position: -36px 50%;
}
.ui-icon-delete
{
	background-position: -72px 50%;
}
.ui-icon-arrow-r
{
	background-position: -108px 50%;
}
.ui-icon-arrow-l
{
	background-position: -144px 50%;
}
.ui-icon-arrow-u
{
	background-position: -180px 50%;
}
.ui-icon-arrow-d
{
	background-position: -216px 50%;
}
.ui-icon-check
{
	background-position: -252px 50%;
}
.ui-icon-gear
{
	background-position: -288px 50%;
}
.ui-icon-refresh
{
	background-position: -324px 50%;
}
.ui-icon-forward
{
	background-position: -360px 50%;
}
.ui-icon-back
{
	background-position: -396px 50%;
}
.ui-icon-grid
{
	background-position: -432px 50%;
}
.ui-icon-star
{
	background-position: -468px 50%;
}
.ui-icon-alert
{
	background-position: -504px 50%;
}
.ui-icon-info
{
	background-position: -540px 50%;
}
.ui-icon-home
{
	background-position: -576px 50%;
}
.ui-icon-search,.ui-icon-searchfield:after
{
	background-position: -612px 50%;
}
.ui-icon-checkbox-off
{
	background-position: -684px 50%;
}
.ui-icon-checkbox-on
{
	background-position: -648px 50%;
}
.ui-icon-radio-off
{
	background-position: -756px 50%;
}
.ui-icon-radio-on
{
	background-position: -720px 50%;
}
.ui-checkbox .ui-icon
{
	border-radius: 3px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
}
.ui-icon-checkbox-off,.ui-icon-radio-off
{
	background-color: transparent;
}
.ui-checkbox-on .ui-icon,.ui-radio-on .ui-icon
{
	background-color: #fa9300;
}
.ui-icon-loading
{
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}
.ui-btn-corner-tl
{
	border-top-left-radius: 1em;
	moz-border-radius-topleft: 1em;
	webkit-border-top-left-radius: 1em;
}
.ui-btn-corner-tr
{
	border-top-right-radius: 1em;
	moz-border-radius-topright: 1em;
	webkit-border-top-right-radius: 1em;
}
.ui-btn-corner-bl
{
	border-bottom-left-radius: 1em;
	moz-border-radius-bottomleft: 1em;
	webkit-border-bottom-left-radius: 1em;
}
.ui-btn-corner-br
{
	border-bottom-right-radius: 1em;
	moz-border-radius-bottomright: 1em;
	webkit-border-bottom-right-radius: 1em;
}
.ui-btn-corner-top
{
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	moz-border-radius-topleft: 1em;
	moz-border-radius-topright: 1em;
	webkit-border-top-left-radius: 1em;
	webkit-border-top-right-radius: 1em;
}
.ui-btn-corner-bottom
{
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	moz-border-radius-bottomleft: 1em;
	moz-border-radius-bottomright: 1em;
	webkit-border-bottom-left-radius: 1em;
	webkit-border-bottom-right-radius: 1em;
}
.ui-btn-corner-right
{
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	moz-border-radius-bottomright: 1em;
	moz-border-radius-topright: 1em;
	webkit-border-bottom-right-radius: 1em;
	webkit-border-top-right-radius: 1em;
}
.ui-btn-corner-left
{
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	moz-border-radius-bottomleft: 1em;
	moz-border-radius-topleft: 1em;
	webkit-border-bottom-left-radius: 1em;
	webkit-border-top-left-radius: 1em;
}
.ui-btn-corner-all
{
	border-radius: 1em;
	moz-border-radius: 1em;
	webkit-border-radius: 1em;
}
.ui-corner-tl,.ui-corner-tr,.ui-corner-bl,.ui-corner-br,.ui-corner-top,.ui-corner-bottom,.ui-corner-right,.ui-corner-left,.ui-corner-all,.ui-btn-corner-tl,.ui-btn-corner-tr,.ui-btn-corner-bl,.ui-btn-corner-br,.ui-btn-corner-top,.ui-btn-corner-bottom,.ui-btn-corner-right,.ui-btn-corner-left,.ui-btn-corner-all
{
	background-clip: padding-box;
	moz-background-clip: padding;
	webkit-background-clip: padding-box;
}
.ui-overlay
{
	background: #666;
	filter: Alpha(Opacity=50);
	height: 100%;
	opacity: .5;
	position: absolute;
	width: 100%;
}
.ui-overlay-shadow
{
	box-shadow: 0px 0px 12px rgba(0,0,0,.6);
	moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
	webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
}
.ui-shadow
{
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}
.ui-bar-a .ui-shadow,.ui-bar-b .ui-shadow,.ui-bar-c .ui-shadow
{
	box-shadow: 0px 1px 0 rgba(255,255,255,.3);
	moz-box-shadow: 0px 1px 0 rgba(255,255,255,.3);
	webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.3);
}
.ui-shadow-inset
{
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
}
.ui-icon-shadow
{
	box-shadow: 0px 1px 0 transparent;
	moz-box-shadow: 0px 1px 0 transparent;
	webkit-box-shadow: 0px 1px 0 transparent;
}
.ui-btn:focus,.ui-link-inherit:focus
{
	outline: 0;
}
.ui-btn.ui-focus
{
	z-index: 1;
}
.ui-focus,.ui-btn:focus
{
	box-shadow: inset 0px 0px 3px #fa9300,0px 0px 9px #fa9300;
	moz-box-shadow: inset 0px 0px 3px #fa9300,0px 0px 9px #fa9300;
	webkit-box-shadow: inset 0px 0px 3px #fa9300,0px 0px 9px #fa9300;
}
.ui-input-text.ui-focus,.ui-input-search.ui-focus
{
	box-shadow: 0px 0px 12px #fa9300;
	moz-box-shadow: 0px 0px 12px #fa9300;
	webkit-box-shadow: 0px 0px 12px #fa9300;
}
.ui-mobile-nosupport-boxshadow *
{
	box-shadow: none !important;
	moz-box-shadow: none !important;
	webkit-box-shadow: none !important;
}
.ui-mobile-nosupport-boxshadow .ui-focus,.ui-mobile-nosupport-boxshadow .ui-btn:focus,.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus
{
	outline-style: auto;
	outline-width: 1px;
}

#homeMap
{
	/*height: 400px;*/
	height: 100%;
	/*width: 100%;*/
	/*padding: 10px;*/
}

.leaflet-map-pane img
{
  max-width: none;
  max-height: none;
}

.webapphead
{
	display: inline-block;
}

.webapphead a
{
	text-decoration: none;
}

#webappLogo
{
	text-align: center;
	font-size: 28pt;
	min-width: 50px;
	border-width: 0 1px 0 0;
	border-color: black;
	border-style: solid;
	padding-top: 0.2em;
	width: 29%;
}

#mapLink
{
	text-align: center;
	font-size: 18pt;
	min-width: 50px;
	width: 69%;
}

#mapLink a
{
	color: black;
	text-decoration: none;
}

#qroverlaywrapper
{
	position: absolute;
	/*background-color: #F0811A;*/
	/*background-color: rgba(240, 129, 26, 0.5);	*/
	background-color: rgba(0, 0, 0, 0.5);	
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1001;
}

#qroverlay
{
	left: 50%;
	top: 50%;
	margin-top: -230px;
	margin-left: -188px;
	padding: 32px 60px 169px 60px;
	background-image: url('../images/qrFrame_375.png');
	/*padding: 1% 0;
	width: 10%;
	border-radius: 10% 10%;
	background-color: #E1D419;*/
	/*z-index: 101;*/
	position: absolute;
	/*border: solid 3px white;*/
	color: white;
	/*display: none;*/
}

.shareIcon
{
	height: 25px;
	width: 35px;
	/*float: left;*/
	display: inline-block;
}

#shareLinksWrapper
{
	/*margin-bottom: 10px;*/
	display: inline-block;
}

#showqr
{
	background: url('../images/qrShadow.png');
	background-size: 100% 100%;
}

#showqr:hover
{
	background: url('../images/qrFilled.png');
	background-size: 100% 100%;
}

#maillink
{
	background: url('../images/mailShadow.png');
	background-size: 100% 100%;
}

#maillink:hover
{
	background: url('../images/mailFilled.png');
	background-size: 100% 100%;
}

#twitLink
{
	background: url('../images/twitterShadow.png');
	background-size: 100% 100%;
}

#twitLink:hover
{
	background: url('../images/twitterFilled.png');
	background-size: 100% 100%;
}

.content
{
	padding: 0;
}

.ui-footer .ui-title {
	margin: 0.2em 15px -0.2em
}
