@CHARSET "ISO-8859-1";

IMG.carPer {
    background-color: rgba(255,255,255, 0.5);
    display: block;
    width: 20%;
	max-width: 100px;
    position: absolute;
    bottom: 19%;
    right: 0px;
    z-index: 4;
}
